extends layout

block content
    div.card
        div.title
            div.name Tepig
            p HP 60
                img.power(src='/images/fire-removebg-preview.png')
                img.power(src='https://external-preview.redd.it/LQm3Hy7YkPzxOqtT_OGdVuSvlR9jCePzgLNX4XjPuiQ.jpg?auto=webp&s=5001eda1470acb7fa080344cc330789f2acbdccf')

        img.img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQidySeq430oKka58gHOgbMWE0_aO6TgmIGiQ&usqp=CAU')

        div.powerrow
            img.power(src='/images/fire-removebg-preview.png')
            img.power(src='https://external-preview.redd.it/LQm3Hy7YkPzxOqtT_OGdVuSvlR9jCePzgLNX4XjPuiQ.jpg?auto=webp&s=5001eda1470acb7fa080344cc330789f2acbdccf')
            p Ember

        div.attack
            p 30ATK

        div.powerrow
            img.power(src='/images/fire-removebg-preview.png')
            img.power(src='https://external-preview.redd.it/LQm3Hy7YkPzxOqtT_OGdVuSvlR9jCePzgLNX4XjPuiQ.jpg?auto=webp&s=5001eda1470acb7fa080344cc330789f2acbdccf')
            p Rollout

        div.attack
            p 20ATK

