extends layout

block content
    h1= Pokemon
    div.card
        div.title
            p HP 60
            img.power(src='/images/fire-removebg-preview.png')
            div.name Tepig
        img.img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQidySeq430oKka58gHOgbMWE0_aO6TgmIGiQ&usqp=CAU')
        div.powerrow
            img.power(src='/images/fire-removebg-preview.png')
            p Ember -- 30ATK
        div.powerrow
            img.power(src='/images/fire-removebg-preview.png')
            p Rollout -- 20ATK

