body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

.card {
  border: 5px ;
  border: 6px solid #f3d22d;
  width: 290px;
  height: 410px;
  background-color: #f27243;
}

p {
  font-size: 15px;
  width: 120px;
  margin-left: 20px;
}

.name{
  width: 110px;
  font-size: 20px;
  margin-bottom: 20px;
}

a {
  color: #00B7FF;
}

.img {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 20px;
  width: 140px;
  height: 130px;
  border: 2px solid grey;
  display: flex;
  align-items: center;
}

.hp {
  font-size: 12px;
  margin-left: 210px;
  margin-top: 20px;
}

.power {
  width: 15px;
  height: 15px;
}

.powerrow {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.title {
  display: flex;
}
