body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

.card {
  border: 5px ;
  border: 6px solid #f3d22d;
  width: 200px;
  height: 300px;
  background-color: #f27243;
  border-radius: 5px;
}

p {
  font-size: 15px;
  width: 120px;
  margin-left: 20px;
}

.name{
  width: 110px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
}

a {
  color: #00B7FF;
}

.img {
  margin-left: 10px;
  margin-bottom: 20px;
  width: 170px;
  height: 90px;
  border: 3px solid grey;
  display: flex;
  align-items: center;
}

.hp {
  font-size: 10px;
  margin-left: 210px;
  margin-top: 20px;
}

.power {
  width: 10px;
  height: 10px;
}

.powerrow {
  display: flex;
  align-items: center;
  margin-left: 5px;
  justify-content: space-around;
  margin-top: 5px;
}

.title {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.weakness {
  display: flex;
  flex-direction: row;
  align-items: baseline ;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  width: 10px;
  height: 10px;
  margin-top: -0.3px;
  margin-left: 15px;
}

.divide {
  height: 1px;
  width: 200px;
  background-color: black;
  align-items: center;
  flex-wrap: wrap;
}

.weak {
  margin-left: 5px;
  font-size: 10px;
  justify-content: space-between;
}

