mixin PokemonCards(Pokemon)

    div.card
        div.title
            div.name Tepig
            p HP 60
                img.power(src='/images/fire-removebg-preview.png')
                img.power(src='/images/basicPokemon.png')

        img.img(src='https://staticg.sportskeeda.com/editor/2022/11/224f1-16681562150640-1920.jpg')
        div.powerrow
            img.power(src='/images/fire-removebg-preview.png')
            img.power(src='/images/basicPokemon.png')
            p Ember
            p 30

        div.powerrow
            img.power(src='/images/fire-removebg-preview.png')
            img.power(src='/images/basicPokemon.png')
            p Rollout
            p 20

        div.divide

        div.weak weakness

        div.resistance resistance

        div.retreat Retreat Cost

        div.weakness
            img.power(src='/images/water-removebg-preview.png')
            img.power(src='/images/water-removebg-preview.png')

        div.retreating
            img.power(src='/images/basicPokemon.png')
            img.power(src='/images/basicPokemon.png')